<!DOCTYPE html>
<html>
  <head>
    <title>KendallHarvardData</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheet.css'/>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="./latLongBarGraph.js"></script>
    <script src="./doubleBarGraph.js"></script>
    <script src="./javascripts/index.js"></script>
  </head>
  <body>
    <form id="myForm" action="/LatLong" method="post"> 
      LatLong1: <input type="text" name="LatLong1" /> 
      LatLong2: <input type="text" name="LatLong2" /> 
      <input type="submit" value="Submit" /> 
    </form>

    <div id="tooltip" class="hidden">
      <p><span id="value">100</span></p>
    </div>
    <div id="latLongBarGraph"></div>
    
    <div class="whichCity-first">
      <ul class="nav nav-pills">
        <li class="button1 active"><a>Boston</a></li>
        <li class="button1"><a >San Francisco</a></li>
        <li class="button1"><a>New York</a></li>
      </ul>
    </div>
    <div class="whichCity-second">
      <ul class="nav nav-pills">
        <li class="button2"><a>Boston</a></li>
        <li class="button2 active"><a>San Francisco</a></li>
        <li class="button2"><a>New York</a></li>
      </ul>
    </div>

    <div id="doubleBarGraph"></div>
  </body>
</html>